@import url("boxicons/css/boxicons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #010101;
  color: #ffffff;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.cm-editor {
  height: 100%;
}